/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}
.head {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.head__pic {
  width: 100%;
}
.head__more-inf {
  font-family: fantasy, cursive;
}
@media (max-width: 768px) {

  .head {
    text-align: center;
  }

}
.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-item__wrapper {
  display: flex;
}
ul {
  margin: 0;
  padding: 0px;
}
.task-item,
.section-name {
  list-style: none;
}
.input,
.btn,
.checkbox {
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.section-name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}
.input:focus {
  color: #333;
}
/* New Task */
.add-item__section-name {
  display: block;
  margin: 0 0 20px;
}
.add-item__input {
  width: 318px;
}
/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-item > * {
  vertical-align: middle;
}
.task-item > .checkbox {
  margin: 0 10px;
}
.task-item > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-item > .input {
  width: 226px;
}
.delete > * {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.delete > *:hover {
  transform: rotateZ(0);
}
/* Completed */
#completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.task-item .input {
  display: none;
}
.edit-mode .input {
  display: inline-block;
  width: 224px;
}
.edit-mode .label {
  display: none;
}